<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приклад 7.3</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Калькулятор для Прикладу 7.3</h1>
        <form method="post">
            <label>Максимальна напруга (Ux_max, кВ): <input type="text" name="Ux_max"></label>
            <label>Номінальна потужність (Snom_t, МВА): <input type="text" name="Snom_t"></label>
            <label>Опір Rc_n в нормальному режимі (Ом): <input type="text" name="Rc_n"></label>
            <label>Реактивний опір Xc_n в нормальному режимі (Ом): <input type="text" name="Xc_n"></label>
            <label>Опір Rc_min в мінімальному режимі (Ом): <input type="text" name="Rc_min"></label>
            <label>Реактивний опір Xc_min в мінімальному режимі (Ом): <input type="text" name="Xc_min"></label>
            <label>Базова напруга (Ub_n, кВ): <input type="text" name="Ub_n"></label>
            <label>Реактивний опір трансформатора (Unn, Ом): <input type="text" name="Unn"></label>
            <button type="submit">Розрахувати</button>
        </form>

        {{if .Xt}}
        <div class="result">
            <h2>Результати:</h2>
            <p>Xt: {{.Xt}} Ом</p>
            <p>Xш в нормальному режимі: {{.Xsh_n}} Ом</p>
            <p>Zш в нормальному режимі: {{.Zsh_n}} Ом</p>
            <p>Струм трифазного КЗ (Ip3) в нормальному режимі: {{.Ip3_n}} А</p>
            <p>Струм двофазного КЗ (Ip2) в нормальному режимі: {{.Ip2_n}} А</p>
            <p>Xш в мінімальному режимі: {{.Xsh_min}} Ом</p>
            <p>Zш в мінімальному режимі: {{.Zsh_min}} Ом</p>
            <p>Струм трифазного КЗ (Ip3) в мінімальному режимі: {{.Ip3_min}} А</p>
            <p>Струм двофазного КЗ (Ip2) в мінімальному режимі: {{.Ip2_min}} А</p>
            <p>Коефіцієнт приведення (kpr): {{.kpr}}</p>
            <p>Rш в нормальному режимі, приведений: {{.Rsh_n_adj}} Ом</p>
            <p>Xш в нормальному режимі, приведений: {{.Xsh_n_adj}} Ом</p>
            <p>Zш в нормальному режимі, приведений: {{.Zsh_n_adj}} Ом</p>
            <p>Rш в мінімальному режимі, приведений: {{.Rsh_min_adj}} Ом</p>
            <p>Xш в мінімальному режимі, приведений: {{.Xsh_min_adj}} Ом</p>
            <p>Zш в мінімальному режимі, приведений: {{.Zsh_min_adj}} Ом</p>
            <p>Дійсний струм трифазного КЗ (I3) в нормальному режимі: {{.I3_sh_n}} А</p>
            <p>Дійсний струм двофазного КЗ (I2) в нормальному режимі: {{.I2_sh_n}} А</p>
            <p>Дійсний струм трифазного КЗ (I3) в мінімальному режимі: {{.I3_sh_min}} А</p>
            <p>Дійсний струм двофазного КЗ (I2) в мінімальному режимі: {{.I2_sh_min}} А</p>
            <p>Довжина проводу (Ln): {{.Ln}} км</p>
            <p>Резистивний опір (Rn): {{.Rn}} Ом</p>
            <p>Реактивний опір (Xn): {{.Xn}} Ом</p>
            <p>Rx в нормальному режимі: {{.Rx_n}} Ом</p>
            <p>Xx в нормальному режимі: {{.Xx_n}} Ом</p>
            <p>Zx в нормальному режимі: {{.Zx_n}} Ом</p>
            <p>Rx в мінімальному режимі: {{.Rx_min}} Ом</p>
            <p>Xx в мінімальному режимі: {{.Xx_min}} Ом</p>
            <p>Zx в мінімальному режимі: {{.Zx_min}} Ом</p>
            <p>Струм трифазного КЗ в точці 10 (I3) в нормальному режимі: {{.I3_t10_n}} А</p>
            <p>Струм двофазного КЗ в точці 10 (I2) в нормальному режимі: {{.I2_t10_n}} А</p>
            <p>Струм трифазного КЗ в точці 10 (I3) в мінімальному режимі: {{.I3_t10_min}} А</p>
            <p>Струм двофазного КЗ в точці 10 (I2) в мінімальному режимі: {{.I2_t10_min}} А</p>
        </div>
        {{end}}
        

        <a class="back-link" href="/">Повернутися на головну</a>
    </div>
</body>
</html>
