<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Калькулятори 4-ої практичної</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Ласкаво просимо до калькулятора</h1>
        <div class="button-container">
            <a href="/example7_1" class="button">Приклад 7.1</a>
            <a href="/example7_2" class="button">Приклад 7.2</a>
            <a href="/example7_3" class="button">Приклад 7.3</a>
        </div>
    </div>
</body>
</html>
